body{

	background: url("../image/bintang.jpg") ;
	text-align: center ;
}



img{
	width: 500px;
}


h2{
	color:#BF8BFF;
	font: 70px comic sans ms;
	text-align: center;
	
}


#par1
{
 	font-family: Arial;
	font-size: 70pt;
	font-style: bold;
	color : #CE2B37 ;
}
.judullagu{
	color: #000000;
	font: 50px comic sans ms;
	text-align: center;
}

.linkkembali{
	font: 30px bold;
	padding: 10px 20px;
	background-color: #FEFFA3;
	display: inherit;
}

ol{
	margin-left: 15px;
	text-align: left;
	font: 20px comic sans ms,Arial;
	
}


p{
	color: red ;
	font: 20px comic sans ms;
}


/*Link yg blm di-kunjungi, dan masih aktif maka akan berwarna*/
a:link, a:active{
	color: #FA8072;
}

/*Link akan ganti warna saat pointer mouse diarahkan ke link*/
a:hover{
	color: #FFBF00;
}